---
import Form from "../components/Form";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main class="mx-auto max-w-xl mt-32">
    <Form client:idle />
  </main>
</Layout>
