---
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <Hero />
    <About />
    <Projects />
  </main>
</Layout>
