---
import Heading from "./Heading.astro";
---

<section id="about" class="mt-56 pt-8">
  <Heading>About me</Heading>

  <!-- <p
    class="flex items-center gap-4 text-lg tracking-wider leading-normal mt-4 before:flex-shrink-0 before:block before:w-1 before:h-24 before:rounded-full before:bg-gradient-to-b before:from-emerald-400 before:to-cyan-400"
  >
  I am a frontend developer with a deep love for programming. I am always seeking out new challenges and opportunities to expand my skills in the world of web development. Whether it's working with the latest front-end frameworks or experimenting with cutting-edge design trends, I'm always excited to push the boundaries of what's possible.
  </p> -->
  <p class="text-lg tracking-wider leading-normal mt-4">
    I am a frontend developer with a deep love for programming. I am always
    seeking out new challenges and opportunities to expand my skills in the
    world of web development. Whether it's working with the latest front-end
    frameworks or experimenting with cutting-edge design trends, I'm always
    excited to push the boundaries of what's possible.
  </p>
</section>
