<a
  class="text-center uppercase rounded-md px-5 py-3 bg-gradient-to-r from-emerald-400 to-cyan-400 text-base font-medium text-neutral-800 hover:scale-110 eease-in transition-all"
  href="/projects"
>
  <slot />
</a>
