---
import Joke from "./Joke";
import Socials from "./Socials.astro";
---

<footer class="mt-60 pb-24">
  <Socials />

  <nav class="flex justify-center mt-12">
    <ul class="flex gap-12 text-sm">
      <li>
        <a href="/projects" class="hover:underline">Projects</a>
      </li>
      <li>
        <a href="/contact" class="hover:underline">Contact</a>
      </li>
    </ul>
  </nav>

  <Joke client:idle />
</footer>
