---
import ContactButton from "./ContactButton.astro";

const pathname = new URL(Astro.request.url).pathname;
const afterStyle =
  "hover:after:opacity-100 after:ease-in after:duration-300 after:mt-0.5 after:opacity-0 after:block after:w-10/12 after:mx-auto after:h-[3px] after:rounded-full after:bg-gradient-to-r after:from-emerald-400 after:to-cyan-400";
---

<header>
  <nav role="navigation">
    <ul
      class="flex text-base pt-10 pb-6 items-end gap-8 md:gap-20 justify-center md:justify-end"
    >
      <li>
        <a
          href="/"
          class={`text- ${afterStyle} ${
            pathname === "/" ? "after:opacity-100" : ""
          }`}>Home</a
        >
      </li>
      <li>
        <a
          class={`inline-block ${afterStyle} ${
            pathname === "/projects" ? "after:opacity-100" : ""
          }`}
          href="/projects">Projects</a
        >
      </li>
      <li>
        <ContactButton>Contact</ContactButton>
      </li>
    </ul>
  </nav>
</header>
